*.zip
*.apk
*.apks
*.jar
*.keystore
*.keystore.jks
*.keystore.p12
*.keystore.pfx
*.keystore.pem
*.keystore.p12
*.txt

# Expo 프로젝트 폴더
MyApp/android
MyApp/ios
MyApp/.expo
MyApp/node_modules

# React Native 프로젝트 폴더
MyApp_RN_New/android
MyApp_RN_New/ios
MyApp_RN_New/.expo
MyApp_RN_New/node_modules

# 1) 폴더 모든 내용 무시
AmazonLambda_crawlF/*

# 2) 하지만 폴더의 .py 파일은 다시 트래킹
!AmazonLambda_crawlF/*.py
!AmazonLambda_crawlF/*.yaml
!AmazonLambda_crawlF/*.yml
!AmazonLambda_crawlF/*.json
!AmazonLambda_crawlF/*.sh

!.gitignore

# React Native 의 android 폴더 내 중요 파일은 다시 트래킹(build.gradle, app/build.gradle, androidManifest.xml, MainActivity.kt, MyApplication.kt 등)
!MyApp_RN_New/android/build.gradle
!MyApp_RN_New/android/app/build.gradle
!MyApp_RN_New/android/app/src/main/AndroidManifest.xml


# build_transfer.sh 파일은 다시 무시
AmazonLambda_crawlF/build_transfer.sh
